* {
    text-align: center;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Alan+Sans:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Shadows+Into+Light&display=swap');

@font-face {
    font-family: Roba-Regular;
    src: url(Fonts/Roba-Regular.woff2),
        url(Fonts/Roba-Regular.woff);
}

h1 {
    font-family: Roba-Regular;
    letter-spacing: 5px;
    line-height: 20px;
    font-size: 106px;
}

h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-wokr {
    width: 100%;
    height: 687px;
    background-color: #D9E9CF;
    /* position: relative; */
}

.top-wokr h1 {
    text-align: center;
    position: relative;
    top: 300px;
    color: #37353E;

}

.top-wokr p {
    position: relative;
    top: 350px;
    width: 70%;
    margin: auto;
    color: #37353E;
    font-family: "Alan Sans", sans-serif;


}